.todoDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}
.todoUl {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todoLi {
  display: block;
  max-width: 100%;
  padding: 10px;
  margin: 0 auto;
  overflow: hidden;
  word-break: break-all;
}
.todoTitle {
  background-color: green;
  color: white;
  padding: 5px;
  width: 100px;
  text-align: center;
}
.todoText {
  font-weight: bold;
  margin: 10px;
  text-align: center;
  padding: 20px;
  border: 1px solid navajowhite;
  display: inline-block;
}
.deleteButton {
  float: right;
  padding: 5px;
}
.deleteButton:hover,
.deleteButton:active {
  cursor: pointer;
  transform: scale(1.1);
  color: red;
}